@inject Microsoft.AspNetCore.Identity.SignInManager<HairDresser1.Data.ApplicationUser> _signInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DoneMyHair</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="icon" type="image/x-icon" href="~/assets/logo.png">
</head>
<body>

    @*<div class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">HairDresser1</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Saloon" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>*@
    <section id="header">
        <div class="container-header">

            <nav class="nav">
                <div class="container">
                    <div class="logo">
                        <img src="~/assets/Done_MyHair_withoutbg.png" style="width:70px;height:70px"/>
                        <a href="/"><h1>DoneMyHair</h1></a>
                        <!-- <span> | </span>
                        <p id="title">Translation</p> -->
                    </div>
                    <div class="main_list" id="mainListDiv">
                        <ul>
                            <li>
                                <a href="https://donemyhair.github.io">Our Web Site</a>
                            </li>
                            <li>
                                <a asp-controller="Saloon" asp-action="Index">Saloons</a>
                            </li>
                            @if (_signInManager.IsSignedIn(User) && User.FindFirst("UserRole").Value == "saloon")
                            {
                                <li>
                                    <a asp-controller="Saloon" asp-action="Create">Create Saloon</a>
                                </li>
                            }
                            <li>
                                <partial name="_LoginInfo"/>
                            </li>

                        </ul>
                    </div>
                    <div class="media_button">
                        <button class="main_media_button" id="mediaButton" onclick="hamburger();">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                    </div>
                </div>


            </nav>


        </div>
    </section>
    <script>
        let scrollpos = window.scrollY;
        const header = document.querySelector(".nav");
        const header_height = header.offsetHeight;

        const add_class_on_scroll = () => header.classList.add("active1")
        const remove_class_on_scroll = () => header.classList.remove("active1")

        window.addEventListener('scroll', function () {
            scrollpos = window.scrollY;
            //console.log(scrollpos);
            //console.log(header_height)
            if (scrollpos >= header_height) { add_class_on_scroll() }
            else { remove_class_on_scroll() }


        })

    </script>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer id="footer">

        <div class="footer-main">
            <div class="footer-contents">
                <div class="footer-contents-left">
                    <div class="terms">
                        <ul>
                            <li><a href="#">Terms & Conditions</a></li>
                            <li> | </li>
                            <li><a href="#">Privacy Policies</a></li>
                            <li> | </li>
                            <li><a href="#">Security</a></li>
                        </ul>
                    </div>
                    <div class="adress">
                        <i class="fa fa-map-marker "></i><span>Eskisehir / Tepebasi</span>
                    </div>
                    <div class="copyright">
                        &copy; 2022 DoneMyHair Inc.
                    </div>
                </div>
                <div class="footer-contents-right">
                    <select name="languages" id="lng-select">
                        <option value="English">DoneMyHair</option>


                    </select>
                    <div class="social-media-icons">

                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f fa-2x"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter fa-2x"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in fa-2x"></i></a></li>
                            <li><a href="#"><i class="fas fa-envelope fa-2x"></i></a></li>
                            <li><a href="#"><i class="fab fa-blogger fa-2x"></i></a></li>
                            <li><a href="#"><i class="fab fa-pinterest fa-2x"></i></a></li>
                            <li><a href="#"><i class="fab fa-youtube fa-2x"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram fa-2x"></i></a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
