@inject Microsoft.AspNetCore.Identity.SignInManager<HairDresser1.Data.ApplicationUser> _signInManager

@if (_signInManager.IsSignedIn(User))
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Hello @(User.FindFirst("UserFirstName").Value + " " + User.FindFirst("UserLastName").Value )
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" asp-action="Logout" asp-controller="ApplicationUsers">Logout</a>
            @*  <a class="dropdown-item" asp-action="ChangePassword" asp-controller="Account">Change password</a>*@
            <a class="dropdown-item" asp-action="Edit" asp-controller="ApplicationUsers" asp-route-id="@User.FindFirst("UserID").Value">Edit Information</a>
            <a class="dropdown-item" asp-action="GetAppointments" asp-controller="HairDresser" asp-route-id="@User.FindFirst("UserID").Value">My Appointments</a>
        </div>
    </li>
}
else
{
    <li>
        <a class="btn btn-outline-primary" asp-controller="ApplicationUsers" asp-action="Login" asp-route-returnUrl="@Context.Request.Path">Login</a>
    </li>
    <li>
        <a class="btn btn-primary" asp-controller="ApplicationUsers" asp-action="Signup">Register</a>
    </li>
    
}


